<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSite</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
    <div class="menu-group primary">
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="h1 text-center text-success">@TempData["message"]</div>
        }
        @if (TempData["errormessage"] != null)
        {
            <div class="h1 text-center text-danger">@TempData["errormessage"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Admin Online</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
